[include]
  path = ~/.local/.gitconfig
[alias]
  br  = branch
  brd = branch -d
  ch  = checkout
  chb = checkout -b
  cht = checkout -t
  cm  = commit
  cma = commit --amend
  rpo = remote prune origin
  st  = status
[core]
  excludesfile = ~/.config/.gitignore_global
[core]
	editor = nvim
