alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias grep='grep --color=auto'

linuxAliases () {
  alias ls='ls -alF --color=auto'
}

macAliases () {
  alias ls='ls -alF -G'
}

unameOut="$(uname -s)"
case "${unameOut}" in
  Linux*)  linuxAliases;;
  Darwin*) macAliases;;
esac

[ -f ~/.local/.aliases ] && source ~/.local/.aliases
